@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'MontserratBold'; 
	src: url(/resources/fonts/Montserrat-Bold.ttf); 
}

@font-face {
	font-family: 'MontserratRegular'; 
	src: url(/resources/fonts/Montserrat-Regular.ttf); 
}

body {
    font-family: 'MontserratRegular', sans-serif;
}

